@model CSC348Blog.Models.PostViewModel

@{
    ViewData["Title"] = "CreatePost";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/postlist/main.css" />
    <link rel="stylesheet" href="~/css/postlist/responsive.css" />
</head>

<h2>CreatePost</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Title" class="single-input" placeholder="Title"
                       onfocus="this.placeholder=''" onblur="this.placeholder='Title'" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Content" class="single-textarea" placeholder="Content"
                          onfocus="this.placeholder=''" onblur="this.placeholder='Content'"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="primary-btn submit_btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PostList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
